@if (!(isAuthenticated$ | async)) {
  <div class="auth-row">
    <button type="button" class="c-btn c-btn--ghost signin" (click)="navigateToLogin()">
      <span>Intră în cont</span>
    </button>
    <button type="button" class="c-btn c-btn--outline" (click)="navigateToRegister()">
      <span>Creează cont</span>
    </button>
  </div>
} @else {
  <button
    type="button"
    class="account-trigger"
    nz-dropdown
    [nzDropdownMenu]="userMenu"
    nzTrigger="click"
    nzPlacement="bottomRight"
    aria-label="Contul meu">
    <nz-avatar
      [nzSrc]="(user$ | async)?.photoUrl || undefined"
      [nzText]="(displayName$ | async)?.charAt(0)"
      [nzSize]="32">
    </nz-avatar>
    <span class="account-name">{{ displayName$ | async }}</span>
    <span nz-icon nzType="down" nzTheme="outline" class="account-caret" aria-hidden="true"></span>
  </button>

  <nz-dropdown-menu #userMenu="nzDropdownMenu">
    <ul nz-menu class="account-menu">
      <li nz-menu-item (click)="navigateToDashboard()">
        <span nz-icon nzType="dashboard" nzTheme="outline"></span>
        <span>Panoul meu</span>
      </li>
      <li nz-menu-item (click)="navigateToMyIssues()">
        <span nz-icon nzType="file-text" nzTheme="outline"></span>
        <span>Problemele mele</span>
      </li>
      @if (showIssuesLink()) {
        <li nz-menu-item (click)="navigateToIssues()">
          <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
          <span>Probleme</span>
        </li>
      }
      @if (showAdminLink() && (canAccessAdmin$ | async)) {
        <li nz-menu-item (click)="navigateToAdmin()">
          <span nz-icon nzType="setting" nzTheme="outline"></span>
          <span>Administrare</span>
        </li>
      }
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span>Deconectare</span>
      </li>
    </ul>
  </nz-dropdown-menu>
}
